[submodule "core-operators"]
	path = core-operators
	url = git@github.com:Ganymede-Bio/core-operators.git
[submodule "core-dev-operators"]
	path = core-dev-operators
	url = git@github.com:Ganymede-Bio/core-dev-operators.git
[submodule "pylib"]
	path = pylib
	url = git@github.com:Ganymede-Bio/pylib.git
[submodule "api-server"]
	path = api-server
	url = git@github.com:Ganymede-Bio/api-server.git
