[submodule "core-operators"]
	path = core-operators
	url = git@github.com:Ganymede-Bio/core-operators.git
[submodule "core-dev-operators"]
	path = core-dev-operators
	url = git@github.com:Ganymede-Bio/core-dev-operators.git
